#body h1,h2,h3,h4,h5,h6 {
    text-align: center;
}

#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10vw;
}

#navbar * {
    width: 15%;
    text-align: center;
}

#bottom_section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10vw;
}

#bottom_section div {
    width: 30%;
    text-align: center;
}