#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10vw;
}

#bottom_section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10vw;
}

#bottom_section div {
    width: 30%;
    text-align: center;
}