#body_tag :is(h1,h2,h3,h4,h5,h6) {
    text-align: center;
}

#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10vw;
}

#navbar * {
    width: 15%;
    text-align: center;
}

#body_content {
    margin: 0 5vw 0 5vw;
}

#our_story img {
    float: left;
    padding: 3vw;
}

#bottom_section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10vw;
    clear: left;
}

#bottom_section div {
    width: 30%;
    text-align: center;
}

#bottom_section :is(h1,h2,h3,h4,h5,h6) {
    margin-bottom: 0px;
}

#bottom_section p {
    margin-top: 0.2vw;
}