#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10vw;
}