#body_content {
  padding: 1vw 5vw 2vw 5vw;
  border-top: 2px solid black;
  background-color: rgb(211, 197, 180);
  font-size: large;
}

#information {
  border-bottom: 2px solid black;
}

#our_story img {
  float: left;
  margin: 0.5vw 2vw 0.5vw 2vw;
}