#testimonials {
  text-align: center;
  padding: 1vw 5vw 3vw 5vw;
  background-color: rgb(211, 197, 180);
  font-size: large;

  border-top: 2px solid black;
}

#testimonials div {
  margin: 2vw 0 2vw 0;
}

#testimonials > div p:nth-child(1):hover {
  transform: scale(1.05);
  transition: transform 0.2s;
}

#testimonials > div p:nth-child(1) {
  transition: transform 0.2s;
}

#testimonials > div p:nth-child(2) {
  font-size: medium;
  border-bottom: 1px solid black;
  padding-bottom: 1vw;
}
