#subtitle {
  width: 30%;
  margin: 0 35% 0 35%;
  padding: 1vw 0 1vw 0;
  border-bottom: 2px solid black;
}

#testimonials {
  text-align: center;
  padding: 1vw 5vw 3vw 5vw;
  background-color: rgb(211, 197, 180);
  font-size: large;

  border-top: 2px solid black;
}

#testimonials div {
  margin: 2vw 0 2vw 0;
}

#testimonials > div p:nth-child(2) {
  font-size: medium;
  border-bottom: 1px solid black;
  padding-bottom: 1vw;
}