#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#subtitle {
    margin-top: 0px;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10vw;

    background-color:rgb(70, 70, 70);
}

#navbar h3 {
    margin: 1vw 0 1vw 0;
}

#navbar a {
    width: 15%;
    text-align: center;
    padding: 1vw 0.4vw 1vw 0.4vw;

    text-decoration: none;
    color: white;
}

#navbar a:hover {
    background-color:rgb(50, 50, 50);
}

#bottom_section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10vw;
}

#bottom_section div {
    width: 30%;
    text-align: center;
}

#bottom_section :is(h1,h2,h3,h4,h5,h6) {
    margin-bottom: 0px;
}

#bottom_section p {
    margin-top: 0.2vw;
}